/target/
/build/
/.cache/
/dist/
/.DS_Store
/.cargo/config.toml
**/.DS_Store
**/.gradle/
**/.build/
**/build/
!scripts/build/
/local.properties
/ios/Artifacts/
**/__pycache__/
*.pyc
/examples/ios/*.xcodeproj/
/examples/ios/*.xcworkspace/
